/*Allgemeine Einstellungen*/

@font-face {
  font-family: 'Sneak';
  src: url('03 Sneak/Sneak-Black.woff') format('opentype');
}

@font-face {
  font-family: 'Sneak Regular';
  src: url('03 Sneak/Sneak-Regular.woff') format('opentype');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Sneak', Arial-Black, sans-serif;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Sneak Regular';
}

.back-to-top {
  background: #ff2d2d;
  z-index: 1001;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

.back-to-top img {
  width: 40px;
  height: 40px;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px 0 0 0;
}

.kopfzeile {
  width: 100%;
  height: 42px;
  margin-top: 17px;
  padding: 0;
}

.themen {
  position: absolute;
  bottom: auto !important;
  box-shadow: none !important;
  top: 8px;
  left: calc(50% - 75px) !important;
  z-index: 1001;
}

#kommButton {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 17px;
  background: #FF2D2D;
  color: white;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.4);
  font-size: 6pt;
  line-height: 7pt;
  text-align: center;
  padding-top: 2px;
  transition: all 0.2s ease;
}

#kommButton h3 {
  font-weight: normal !important;
}

#kommButton:hover {
  transform: scale(1.1);
}

.lang {
  position: absolute;
  top: 7px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  line-height: 9px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: white;
  background: #FF2D2D;
  z-index: 1001;
  transition: all 0.2s ease;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.lang:hover {
  transform: scale(1.1);
}

#de {
  right: 63px;
}

#en {
  right: 30px;
  background: #d8d8d8;
}

.header {
  position: relative;
  height: calc(100% - 110px);
  width: calc(100% - 32px);
  left: 16px;
  overflow: hidden;
  top: 5px;
  margin-top: 16px;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

.header:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.9);
}

#entstehung {
  background: url('02 bilder/02_Entstehung.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#architektur {
  background: url('02 bilder/03_Bauweise.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#leben {
  background: url('02 bilder/04_Lebensbedingungen.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#crime {
  background: url('02 bilder/05_Prositution.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#nachtleben {
  background: url('02 bilder/06_Nachtleben.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#arbeit {
  background: url('02 bilder/07_Arbeiterbewegung.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#juedisch {
  background: url('02 bilder/08_juedischesLeben.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#untergang {
  background: url('02 bilder/09_Untergang.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#besetzung {
  background: url('02 bilder/10_Besetzung.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#projekt {
  background: url('02 bilder/11_Projekt.jpg') 30% 50% no-repeat;
  /* 50% 50% centers image in div */
  background-size: cover;
}

#zahl {
  color: white;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 20px;
  text-shadow: 0px 4px 4px rgba(55, 55, 55);
  /* Fallback */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-weight: normal !important;
}

#headline {
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 10px;
  left: 10px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#headline h1 {
  font-size: 40pt;
  font-weight: normal !important;
  line-height: 32pt;
  letter-spacing: -3.5pt;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

#headline h2 {
  font-size: 15pt;
  font-weight: normal !important;
  line-height: 15pt;
  padding: 0;
  margin: 0;
}

#mapMarker {
  position: absolute;
  bottom: 10px;
  left: 9px;
  color: black;
  background: white;
  box-sizing: border-box;
  font-family: 'Sneak Regular';
  display: table;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 30px;
  height: 40px;
  padding: 0 25px 0 40px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

#mapMarker h4 {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal !important;
}

#mapMarker img {
  height: 22px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  left: 9px;
}

#mapMarker:hover {
  transform: scale(1.05);
}

/*fusszeile*/

#fusszeile {
  z-index: -1000;
  margin: 16px 0 0 0;
  position: relative;
  width: calc(100% - 32px);
  left: 16px;
  top: 16px;
  position: relative;
}

#fuss {
  margin: 60px 20px 6px 0;
  padding: 0 0 16px 0;
  color: gray;
  float: left;
  transition: all 0.2s ease;
}

#fuss:hover {
  color: black;
}

@media only screen and (min-width: 350px) {
  #headline h1 {
    font-size: 48pt;
    line-height: 38pt;
    letter-spacing: -4pt;
  }
  #headline h2 {
    font-size: 15pt;
    line-height: 15pt;
  }
}

#de {
  right: 57px;
}

#en {
  right: 15px;
  background: #d8d8d8;
}

/*Ende Query*/

@media only screen and (min-width: 470px) {
  #headline h1 {
    font-size: 65pt;
    line-height: 52pt;
    letter-spacing: -6pt;
  }
  #headline h2 {
    font-size: 15pt;
    line-height: 15pt;
  }
}

/*Ende Query*/

@media only screen and (min-width: 600px) {
  #container {
    width: calc(100% - 64px);
    left: 32px;
  }
  .kopfzeile {
    height: 70px;
  }
  #kommButton {
    left: 0;
  }
  #de {
    right: 42px;
  }
  #en {
    right: 0px;
    background: #d8d8d8;
  }
  .header {
    position: relative;
    height: 500px;
    width: 100%;
    left: auto;
    float: left;
    margin: 0 32px 32px 0;
    overflow: hidden;
    top: auto;
  }
  #fusszeile {
    width: calc(100% - 16px);
    left: 0px;
    top: 16px;
    position: relative;
  }
}

/*Ende Query*/

@media only screen and (min-width: 1000px) {
  #container {
    width: 800px;
    margin: 0 auto;
    left: auto;
  }
  .header {
    position: relative;
    height: 500px;
    width: calc(50% - 32px);
    left: auto;
    float: left;
    margin: 0 32px 32px 0;
    overflow: hidden;
    top: auto;
  }
  #de {
    right: 72px;
  }
  #en {
    right: 30px;
    background: #d8d8d8;
  }
  #fusszeile {
    width: calc(100% - 16px);
    left: 0px;
    top: 16px;
    position: relative;
  }
}

/*Ende Query*/

@media only screen and (min-width: 1400px) {
  #container {
    width: 1000px;
    margin: 0 auto;
  }
  .header {
    height: 700px;
  }
}

/*Ende Query*/