/*Allgemeine Einstellungen*/

@font-face {
  font-family: 'Sneak';
  src: url('03 Sneak/Sneak-Black.woff') format('opentype');
}

@font-face {
  font-family: 'Sneak Regular';
  src: url('03 Sneak/Sneak-Regular.woff') format('opentype');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Sneak', Arial-Black, sans-serif;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Sneak Regular';
}

span {
  font-family: 'Sneak', Helvetica, sans-serif
}

.back-to-top {
  background: #ff2d2d;
  z-index: 1001;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

.back-to-top img {
  width: 40px;
  height: 40px;
}

#headercontainer {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  position: relative;
  top: 16px;
  left: 16px;
}

#headline {
  position: absolute;
  top: 60px;
  left: 0px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#headline h1 {
  font-size: 40pt;
  font-weight: normal !important;
  line-height: 32pt;
  letter-spacing: -3.5pt;
  padding: 0;
  margin: 0;
}

#headline h2 {
  font-size: 15pt;
  font-weight: normal !important;
  line-height: 15pt;
  padding: 0;
  margin: 0;
}

#down {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: #ff2d2d;
  border-radius: 40px;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.2);
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
}

#down:hover {
  transform: scale(1.2) rotate(190deg);
}

@-webkit-keyframes Gradient {
  0% {
    transform: scale(1) rotate(180deg)
  }
  25% {
    transform: scale(1.0) rotate(180deg)
  }
  50% {
    transform: scale(1.2) rotate(180deg)
  }
  75% {
    transform: scale(1.0) rotate(180deg)
  }
  100% {
    transform: scale(1) rotate(180deg)
  }
}

#kommButton {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px;
  background: #FF2D2D;
  color: white;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.4);
  font-size: 6pt;
  line-height: 7pt;
  text-align: center;
  padding-top: 2px;
  transition: all 0.2s ease;
}

#kommButton h3 {
  font-weight: normal !important;
}

#kommButton:hover {
  transform: scale(1.1);
}

.lang {
  position: absolute;
  top: 7px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  line-height: 9px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: white;
  background: #FF2D2D;
  z-index: 1001;
  transition: all 0.2s ease;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
  max-width: 40%;
}

.lang:hover {
  transform: scale(1.1);
}

#de {
  right: 53px;
}

#en {
  right: 10px;
  background: #d8d8d8;
}

#themenMarker {
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  background: white;
  box-sizing: border-box;
  font-family: 'Sneak Regular';
  display: table;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 30px;
  height: 40px;
  padding: 0 25px 0 40px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

#themenMarker h4 {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal !important;
}

#themenMarker img {
  transform: rotate(-90deg);
  height: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  left: 9px;
}

#themenMarker:hover {
  transform: scale(1.05);
}

/*CONTENT*/

#content {
  margin: 16px 0 0 0;
  position: relative;
  width: calc(100% - 32px);
  left: 16px;
  top: 16px;
  overflow: hidden;
}

#fotoContainer {
  position: relative;
  width: calc(100% + 200px);
  left: -100px;
  overflow: hidden;
  margin: 32px 0 32px 0;
  padding: 0;
}

.fotosHoch {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin: 25px 25% 45px 25%;
}

.fotosBreit {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 25px 0 45px 0px;
}

#fotoButton {
  position: absolute;
  top: 16px;
  left: 116px;
  color: white;
  background: #FF2D2D;
  box-sizing: border-box;
  font-family: 'Sneak Regular';
  font-weight: normal;
  display: table;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 30px;
  height: 40px;
  padding: 0 25px 0 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

#fotoButton p {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

#fotoButton:hover {
  transform: scale(1.05);
}

.text {
  font-size: 12pt;
  line-height: 15pt;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

#content h4 {
  font-weight: normal !important;
  font-size: 12pt;
}

.markerContainer {
  width: 100%;
  height: 40px;
  position: relative;
  float: left;
  margin: 0 0 32px 0;
}

.marker {
  color: black;
  background: white;
  box-sizing: border-box;
  font-family: 'Sneak Regular';
  display: table;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 30px;
  height: 40px;
  max-width: 40%;
  transition: all 0.2s ease;
}

.marker h4 {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal !important;
}

.marker:hover {
  transform: scale(1.05);
}

#prevMarker {
  position: absolute;
  padding: 0 18px 0 35px;
  left: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#prevMarker img {
  transform: rotate(-90deg);
  height: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  left: 9px;
}

#nextMarker {
  position: absolute;
  padding: 0 35px 0 18px;
  right: 0;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

#nextMarker img {
  transform: rotate(90deg);
  height: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 9px;
}

#nextMarker h4 {
  font-size: 10pt;
  hyphens: auto;
}

#prevMarker h4 {
  font-size: 10pt;
  hyphens: auto;
}

#fuss {
  margin: 60px 20px 6px 0;
  padding: 0 0 16px 0;
  color: gray;
  float: left;
  transition: all 0.2s ease;
}

#fuss:hover {
  color: black;
}

@media only screen and (min-width: 350px) {
  #headline h1 {
    font-size: 48pt;
    line-height: 38pt;
    letter-spacing: -4pt;
  }
  #headline h2 {
    font-size: 15pt;
    line-height: 15pt;
  }
  .fotosHoch {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 25px 0;
  }
}

/*Ende Query*/

@media only screen and (min-width: 470px) {
  #headline h1 {
    font-size: 65pt;
    line-height: 52pt;
    letter-spacing: -6pt;
  }
  #headline h2 {
    font-size: 15pt;
    line-height: 15pt;
  }
  .marker {
    max-width: auto;
  }
  #nextMarker h4 {
    font-size: 12pt;
  }
  #prevMarker h4 {
    font-size: 12pt;
  }
}

/*Ende Query*/

@media only screen and (min-width: 600px) {
  #header {
    height: 480px;
  }
  #headline h1 {
    font-size: 85pt;
    line-height: 67pt;
    letter-spacing: -7pt;
  }
  #headline h2 {
    font-size: 15pt;
    line-height: 15pt;
  }
  #headercontainer {
    width: calc(100% - 64px);
    height: calc(100% - 32px);
    left: 32px;
    top: 16px;
  }
  #content {
    width: calc(100% - 64px);
    left: 32px;
    top: 16px;
  }
  .fotosHoch {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 10px 25% 25px 25%;
  }
}

/*Ende Query*/

@media only screen and (min-width: 1000px) {
  #header {
    height: 530px;
  }
  /* #headline h1 {
    font-size: 105pt;
    line-height: 85pt;
    letter-spacing: -7pt;
  } */
  #headline h1 {
    font-size: 85pt;
    line-height: 67pt;
    letter-spacing: -7pt;
  }
  #headline h2 {
    font-size: 15pt;
    line-height: 15pt;
  }
  #headercontainer {
    width: 800px;
    left: 0;
    margin: 0 auto;
  }
  #content {
    width: 800px;
    margin: 0 auto;
    left: 0;
  }
}

/*Ende Query*/

@media only screen and (min-width: 1400px) {
  #header {
    height: 700px;
  }
  #headline h1 {
    font-size: 125pt;
    line-height: 95pt;
    letter-spacing: -7pt;
  }
  #headline h2 {
    font-size: 15pt;
    line-height: 15pt;
  }
  #headercontainer {
    position: relative;
    width: 1032px;
    margin: 0 auto;
  }
  #content {
    width: 1000px;
    margin: 0 auto;
    left: 0;
  }
}

/*Ende Query*/